@{
    ViewBag.Title = "Grand Smartphone Store";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@



<p>Grand Smartphone Store este un magazin de telefone în Timișoara pe strada Bucovinei.</p>


<img src="D:\gss.jpg" >